[Unit]
Description=Automounter for removable media
Documentation=man:udiskie(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --no-notify

[Install]
WantedBy=sway-session.target
